# Set the registry to the default npm registry
registry=https://registry.npmjs.org/

# Disable strict SSL for the registry
strict-ssl=false
# Environment variable for backend URL
REACT_APP_BACKEND_URL=127.0.0.1:5000
